# motive: implement kmeans for clustering similar article together

In [30]:
import pandas as pd 
import numpy as np 
from  sklearn.cluster import KMeans
from sklearn import metrics
from scipy.spatial.distance import cdist
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt 
plt.style.use("fivethirtyeight")

In [19]:
vector_data = pd.read_csv('../data/vectorized/vectorized_spacy.csv')
print(vector_data.shape)
vector_data.loc[:3]

(7900, 600)

,heading_0,heading_1,heading_2,heading_3,heading_4,heading_5,heading_6,heading_7,heading_8,heading_9,...,content_290,content_291,content_292,content_293,content_294,content_295,content_296,content_297,content_298,content_299
0,-0.546659,-0.261546,-0.348887,-0.238572,0.458753,-0.179026,0.239807,0.192216,-0.173710,0.316083,...,-0.114826,0.193850,0.022486,0.117654,0.031892,-0.145199,0.073625,0.077310,0.024157,0.009043
1,-0.374014,0.079800,-0.307247,-0.388248,0.658381,-0.388981,0.700401,0.058361,0.230552,-0.509046,...,-0.068768,-0.062376,0.025082,-0.042379,-0.101772,0.114503,0.123833,0.048265,0.000809,-0.040062
2,0.182761,-0.229877,-0.521939,0.445496,0.392754,-0.374589,0.183456,0.574266,0.218962,-0.057935,...,-0.082321,0.121098,0.011565,-0.157940,0.014343,-0.037302,0.032055,0.066054,-0.068794,0.051896
3,-0.148774,0.765963,-0.061879,0.101832,0.199750,0.392823,-0.272694,-0.073629,0.138436,-0.154620,...,-0.152583,-0.247430,0.172976,0.074123,0.046913,-0.140058,0.092900,0.050058,-0.136006,-0.101694

In [20]:
data = pd.read_csv("../data/bbc_toi_yahoo_stats_feats.csv")
print(data.shape)
data.loc[:3]

(7900, 12)

,heading,content,heading_polarity,content_polarity,number_of_words,number_of_sentences,average_word_length,number_of_characters,asl,asw,flesch_ease_test_score,flesch_kincaid_grade_score
0,domestic abuse: swansea man jailed for murderi...,a man has been jailed for life for battering h...,0.00,-0.081640,719,28,4.742698,4128,25.678571,1.539638,50.517842,12.592376
1,covid-19: how india failed to prevent a deadly...,"in early march, india's health minister harsh ...",-0.25,0.035661,1199,63,5.106756,7321,19.031746,1.733945,40.826035,12.292931
2,"northampton blaze 'cruel blow', say firm's owners",two friends who spent 10 years building up the...,-0.60,-0.199242,306,12,5.032680,1845,25.500000,1.604575,45.205441,13.288987
3,einstein handwritten letter with equation fetc...,a letter written by albert einstein containing...,0.00,0.165000,236,11,5.254237,1475,21.454545,1.750000,37.008636,13.427273

In [29]:
train_data, test_data = train_test_split(vector_data, test_size=0.2)
distortions = []
inertias = []
mapping1 = {}
mapping2 = {}
K = [5, 20, 100, 200]
for k in K:
    # Building and fitting the model
    kmeanModel = KMeans(
        n_clusters=k,
        init='k-means++',
        n_init=10,
        max_iter=300,
        tol=0.0001,
        precompute_distances='deprecated',
        verbose=0,
        random_state=None,
        copy_x=True,
        n_jobs='deprecated',
        algorithm='auto'
    )
    kmeanModel.fit(train_data)

    distortions.append(sum(np.min(cdist(train_data, kmeanModel.cluster_centers_,
                                        'euclidean'), axis=1)) / train_data.shape[0])
    inertias.append(kmeanModel.inertia_)

    mapping1[k] = sum(np.min(cdist(train_data, kmeanModel.cluster_centers_,
                                    'euclidean'), axis=1)) / train_data.shape[0]
    mapping2[k] = kmeanModel.inertia_

In [32]:
mapping2

{1: 217821.7535513517,
 2: 208778.5351434833,
 3: 205728.48737083125,
 4: 203693.89573828256,
 5: 201870.63462188494,
 6: 200593.45489939494,
 7: 199661.3516303964,
 8: 198689.16353815186,
 9: 198098.28329165245}

In [22]:
data.loc[:, "cluster_id"] = km.labels_
data.loc[data.loc[:, "cluster_id"] == 5]