# motive: make data preprocessing class to split clickstream data into train, test data

In [1]:
import pandas as pd 
import numpy as np

In [2]:
class ValidationSplit(object):
    """validation split class"""
    def __init__(self, clickstream_data_path):
        self.data = pd.read_csv(clickstream_data_path)

    def train_test_split(self, test_fraction):
        """does:
            1. split the data into train and test data
            2. return train and test data
        """
        train_data = pd.DataFrame(columns=self.data.columns)
        test_data  = pd.DataFrame(columns=self.data.columns)

        for user_data in self.data.groupby("user_id"):
            num_sessions = len(user_data[1].groupby("session_id"))
            train_test_split_index = int(num_sessions * (1 - test_fraction)) # ðŸ§ 
            for session_data in user_data[1].groupby("session_id"):
                session_id = session_data[0]
                if session_id < train_test_split_index:
                    train_data = pd.concat([train_data, session_data[1]], axis=0)
                else:
                    test_data = pd.concat([test_data, session_data[1]], axis=0)
        return train_data, test_data

In [3]:
%%time
dp = ValidationSplit(
    clickstream_data_path="../data/ClickDataPhaseI.csv"
)
train_data, test_data = dp.train_test_split(test_fraction=0.2)

Wall time: 41.2 s

In [4]:
print(train_data.shape)
print(test_data.shape)

(66020, 6)
(34220, 6)

In [5]:
train_data.to_csv("../data/generated/train_clickstream.csv", index=False)
test_data.to_csv("../data/generated/test_clickstream.csv", index=False)

In [6]:
test_data

       user_id session_id article_id article_rank click time_spent
50           1          6       5814            1     0          0
51           1          6       4007            2     1        151
52           1          6       5216            3     1        107
53           1          6       3097            4     0          0
54           1          6       4351            5     0          0
...        ...        ...        ...          ...   ...        ...
100235    1000         10       3933            6     0          0
100236    1000         10       7167            7     0          0
100237    1000         10       5846            8     0          0
100238    1000         10       5275            9     0          0
100239    1000         10       4556           10     0          0

[34220 rows x 6 columns]